Intermediate
Saved/Logs
Saved/Config/CrashReportClient
.idea
GamesDev0.VC.db
GamesDev0.VC.VC.opendb
Plugins/UEPyICU/Binaries/*
Plugins/UEPyICU/scripts/*
.vs
Binaries/*
Saved/Config/WorldState/*
Saved/Backup